.menu {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    font-size: smaller;
    font-family: sans-serif;
    font-weight: 400;
    color: #FFFFF0;
    padding: 5px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 100px;
}

.grid img{
    border: 2px solid #000000;
    border-radius: 50px;
}

.origami {
    border-radius: 20px;
    background-color: #FFFFFF;

    width: 310px;
    font-family: cursive;

    margin: 30px;
    padding: 30px;

}

a:link{
    color: #FFFFF0;
}

a:visited{
    color: #FFFFF0;
}

.origami:hover{
    transform: scale(1.2);
}

.bodyimg img{
    position: relative;
}

.bodyimg h2{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: ivory;
    font-family:cursive,'Lucida Handwriting';
    font-style:normal;
    font-size: 40px;
}

.bodyimg h3{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f7f2f2;
    font-family:cursive ;
}

body {
    margin: 0px;
    background-color: #f7f2f2;

}